body{
    background-color: aqua;
}
h1{
    font-size: 25px;
    color: black;
    text-align: center;
}
.box{
    background-color: bisque;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}
input{
    width: 200px;
    padding: 10px;;
}
button{
    background-color: blue;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
}