body{
    font-family: Arial;
    background-color: azure;
    padding: 30px;
}

input{
    text-align: center;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 250px;
}
button{
    background-color: aquamarine;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 250px;
}

button{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#taskPage{
    display: none;
}

div{
    background-color: white;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}