body{
    font-family: Arial;
    padding: 20px;
    background-color: blanchedalmond;
}

input{
    margin-bottom: 15px;
    padding: 10px;
}
button{
    margin-bottom: 20px;
    padding: 10px;
    background-color: aquamarine;
}
#taskPage{
    display: none;
}