body{
    font-family: Arial;
    background-color: lightgray;
    padding: 30px;
}

div{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

input,
button{
    display: block;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#createText{
    color: blue;
    cursor: pointer;
    margin-bottom: 15px;
}

#signupPage{
    display: none;
}

#taskPage{
    display: none;
}